<!DOCTYPE html>
<html lang="en">

<head> 
  {% include "partials/head.liquid" %}  
</head>

<body class="no-js no-animate no-component">
  
  {% include "partials/navigation.liquid" %}

  <main>
    <article class="single h-entry max-width:base5" itemid="{{site.base_url}}/{{page.permalink}}">
      <header>
        {% if page.data.has_animation == "true" %}
        {% assign animation_file = page.data.animation_file %}
        {% include animation_file %}
        {% endif %}

        <h1 class="p-name" itemprop="headline">{{ page.title }}</h1>

        <p class="p-summary" itemprop="description">
          {{ page.description }}
        </p>

        <meta itemprop="author" content="{{ site.data.config.author }}" />
      </header>

      <div class="supplementary">
        <div class="supplementary__date">
          {% if page.is_draft == false %}
          <time class="dt-published" datetime="{{ page.published_date }}" itemprop="datePublished">
            {{ page.published_date | date: "%b %d %Y" }}
          </time>
          {% endif %}
        </div>
        <div data-button-observer></div>
        <back-to-top></back-to-top>
      </div>

      <div class="e-content" itemprop="articleBody">
        {{ page.content }}

        {% if page.tags %}
        <section aria-label="tags" class="tag-list tag-list--right">
          <ul>
            Filed under:
            {% for tag in page.tags %}
            <li>
              <a href="{{ site.base_url }}/tag/{{ tag }}" class="link-highlight">
                {{ tag }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </section>
        {% endif %}
      </div>

      {% include "partials/signoff.liquid" %}
    </article>
  </main>

  {% comment %}
  - Include any required component templates
  {% endcomment %}
  {% include "components/back-to-top.liquid" %}

  <script src="{{ site.base_url }}/assets/js/lib/animation-scroll-toggle.js" defer type="module"></script>
</body>

</html>