{% assign col = nil %}
{% assign paginated = true %}

{% if paginator.pages %}
  {% assign col = paginator.pages %}
{% elsif collections.posts %}
  {% assign paginated = false %}
  {% assign col = collections.posts.pages %}
{% endif %}

<ul class="paginated-list">
{% for post in col %}
  {% assign category = post.categories | strip %}

  {% comment %}
    Manual removing of categories of the wrong type.
    Need to do it this way for now as the category pagination
    in Cobalt appears to be busted.
  {% endcomment%}
  {% if paginated == false and page.data.filter %}
    {% if category != page.data.filter %}
      {% continue %}
    {% endif %}
  {% endif %}

  {% comment %}
    Page description override.
    Get the custom "abstract" property so that
    the description frontmatter doesn't override
    the post content in the RSS
  {% endcomment%}
  {% assign content = post.description %}
  {% if post.data.abstract %}
    {% assign content = post.data.abstract %}
  {% endif %}

  {% comment %}
    If it's a note, we want the content!
  {% endcomment %}
  {% if category != "posts" %}
    {% assign content = post.content %}
  {% endif %}

  <li class="list:none">
    <article>
      <a href="/{{ post.permalink }}">
        <h2>{{ post.title }}</h2>
      </a>

      {% if post.is_draft == false %}
      <time class="font:reduced" datetime="{{ post.published_date}}">{{ post.published_date | date: "%b %d %Y" }}</time>
      {% endif %}

      <p>{{ content }}</p>

      {% if category == "posts" %}
        <p>
          <a href="{{ post.permalink }}" class="link-highlight">Read more</a>
        </p>
      {% endif %}
      {% if post.tags %}
      <div class="tag-list">
        Filed under:
        <ul>
          {% for tag in post.tags %}
          <li class="list:none">
            <a class="link-highlight" href="{{ site.base_url }}/tag/{{ tag }}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      </article>
    </li>
  {% endfor %}
</ul>