---
layout: home.liquid
title: "Home"
description: "The personal website of Bill Reid, a web developer based in Cumbria."
data: {
  title: "Latest posts"
}
---

{% include "partials/home-landing.liquid" %}

{% comment %}
Generates a list of the most recent articles
{% endcomment %}

<h2 class="body:width list-title animation:flash-before">
  Latest posts
</h2>

<ul class="home--featured">
{% for post in collections.posts.pages %}
  {% assign post_url = post.permalink %}
  {% assign post_cta = "Read more" %}
  {% assign post_class = "article--post" %}
  {% assign post_content = post.description %}
  {% assign post_category = post.categories | strip %}
  {% assign post_show_read_more = true %}
  {% assign thing_type_class = "" %}
  {% assign tag_css_injections = "--tag-background-colour:var(--app-colour-body);--article-background:var(--app-colour-background)" %}

  {% comment %}
    Override the post content for the rss hack
  {% endcomment %}
  {% if post.data.abstract %}
    {% assign post_content = post.data.abstract %}
  {% else %}
    {% assign post_content = "" %}
  {% endif %}

  {% if post_category == "things" %}
    {% assign post_show_read_more = false %}
    {% assign post_class = "article--thing" %}
    {% assign tag_css_injections = "" %}
    {% assign post_content = post.content %}

    {% if post_content contains "codepen.io" %}
      {% assign thing_type_class = "article--codepen" %}
    {% elsif post_content contains "github.com" %}
      {% assign thing_type_class = "article--github" %}
    {% endif %}
  {% endif %}

  {% comment %}
    Notes may or may not be excluded from the latest
    section. Check the config file.
  {% endcomment %}
  {% if post_category == "notes" %}
    {% if site.data.config.home_latest_notes == false %}
      {% continue %}
    {% endif %}

    {% assign post_class = "article--note" %}
    {% assign post_content = post.content %}

    {% assign content_length = post_content | size %}
    {% if content_length < site.data.config.notes_overflow_size %}
      {% comment %} Hard coding to false for now as just showing everything {% endcomment %}
      {% assign post_show_read_more = false %}
    {% endif %}
    {% comment %} Hard coding to false for now as just showing everything {% endcomment %}
    {% assign post_show_read_more = false %}
  {% endif %}

  <span hidden>
    {% increment counter %}
  </span>

  {% if counter > site.data.config.max_home_latest %}
    {% break %}
  {% endif %}

  <li class="list:none max-width:none {{ post_class }} {{ thing_type_class }}">
    <article>
      <div class="article__observer"></div>

      {% comment %} Ridiculous way of removing the last "s" from a string {% endcomment %}
      {% assign cat_arr = post_category | split: "" | reverse | join: "" %}
      {% assign cat_str = cat_arr | remove_first: "s" | split: "" | reverse | join: "" %}
      <span aria-hidden="true">{{ cat_str }}</span>
      <a href="{{ post_url }}" id="{{ post.slug }}">
        <h2>{{ post.title }}</h2>
      </a>

      <span class="thing-descriptor" aria-hidden="true"></span>
      
      {% if post.is_draft == false %}
      <p>
        <time datetime="{{ post.published_date }}">{{ post.published_date | date: "%b %d %Y" }}</time>
      </p>
      {% endif %}

          <div class="article__content link-highlight--all">
        {{ post_content }}
      </div>

      {% if post_show_read_more %}
      <p>
        <a href="{{ post_url }}" rel="nofollow noopener noreferrer">{{ post_cta }}</a>
      </p>
      {% endif %}

      {% if post.tags %}
      <div class="tag-list tag-list--home tag-list--right">
        <ul>
          {% for tag in post.tags %}
          <li>
            <a href="{{ site.base_url }}/tag/{{ tag }}" style="{{ tag_css_injections }}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </article>
  </li>
{% endfor %}
</ul>

<h2 class="body:width list-title list-title--left animation:flash-before">
  All posts
</h2>

{% include "partials/paginated-list.liquid" %}